page-login {
    .custom-icon{
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding-top: 22px;
      }
      .background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        text-align: center;
      }
      .header-md::after,
      .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
      }
      .scroll-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      ion-item {
        border-radius: 3px;
        padding-left: 10px;
        margin-bottom: 15px;
        font-size: 1.2em;
      }
      .item-inner {
        border-bottom: 0;
        box-shadow: none;
      }
      .login-button {
        text-transform: none;
        border-radius: 3px;
      }
      .guest-button {
        text-transform: none;
        padding: 0.5em;
        border-radius: 3px;
        background-color: transparent;
        font-size: 1em;
      }
      ion-icon {
        padding-right: 10px;
        font-size: 2.2rem;
      }
      .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
      }
      .strike>span {
        position: relative;
        display: inline-block;
        font-weight: bold;
      }
      .strike>span:before,
      .strike>span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
      }
      .strike>span:before {
        right: 100%;
        margin-right: 15px;
      }
      .strike>span:after {
        left: 100%;
        margin-left: 15px;
      }
      .footer {
        text-align: center;
        min-height: 47px;
      }
}
