<div [ngClass]="global.state['theme']">

  <ion-header class="header-popover">
    <ion-item>
      <button ion-button icon-only clear item-end (click)="goBack()"><ion-icon name="close"></ion-icon></button>
      <ion-title text-center>{{ 'Page.Logn.title' | translate }}</ion-title>
      </ion-item>
      <ng-progress></ng-progress>
  </ion-header>

<ion-content padding class="background">
  <form padding [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-item>
      <ion-input formControlName="username" type="text" placeholder="{{ 'Page.Logn.user' | translate }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="{{ 'Page.Logn.password' | translate }}"></ion-input>
    </ion-item>
    <button ion-button block clear class="login-button" type="submit" [disabled]="!loginForm.valid">{{ "Page.Logn.login" | translate }}</button>
  </form>
  <div padding class="strike">
    <span class="divider-span">{{ "Page.Logn.or" | translate }}</span>
  </div>
  <div padding>
    <button class="guest-button" (click)="goBack()"><ion-icon name="person"></ion-icon>{{ "Page.Logn.guest" | translate }}</button>
  </div>
</ion-content>
<ion-footer class="modal-footer">
  <ion-toolbar class="footer" (click)="signup()">
    <span class="footer-span">{{ "Page.Logn.register-message" | translate }}<strong>{{ "Page.Logn.register" | translate }}</strong>.</span>
  </ion-toolbar>
</ion-footer>

</div>