page-place {

    .ng-star-inserted{
        height: 100%;
    }
    .content{
        background-color: rgba(120, 120, 120, 0.5);
    }
    .toolbar{
        z-index: 999;
        position: absolute;
    }
    .toolbar button{
        color: white;
    }
    .toolbar-background{
        background-color: rgba(0, 0, 0, 0.1);
    }

    .images-slider{
        height: 30%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .segment{
        background-color: white;
    }
    .segment-card{
        height: 45%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section-comments{
        height: 25%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .slide-zoom, .card{
        height: 100%;
    }

    .ion-slide-img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    .segment{
        height: 15%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .segment-card .card{ height: calc(85% - 20px); }

    .card-description h1{ font-size: 2em; margin-bottom: 0.2em; border-bottom: 1px solid lightgray; }
    .card-description p{ font-size: 1.2em; opacity: 0.7; }

    .card-information .grid{ height: 100%; justify-content: center; }
    .card-information h3{ font-size: 1em; font-weight: bold; }
    .card-information h2{ font-size: 1.1em; margin-top: 10px; }

    .card-location h1{ padding-bottom: 0.2em; border-bottom: 1px solid lightgray; }
    .card-location h2{ margin-top: 0.5em; font-weight: bold; font-size: 1.4em; opacity: 0.5; }
    .card-location h3{ margin-top: 0.5em; opacity: 0.4; }

    .card-extras .grid{ height: 100%; justify-content: center; }
    .card-extras h3{ height: 1.1em; margin-bottom: 1em; font-size: 0.9em; }
    .card-extras .icon{ font-size: 3.5em; }

    .card-prices h1{ font-size: 3em; opacity: 0.5; }
    .card-prices .grid{ height: 100%; justify-content: center; }

    .card-location .fab{ bottom: 28%; right: 5%; position: absolute; }

    .section-comments .card{ height: calc(85% - 20px); }

    .ghosting-slide{
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .ghosting-icon{
        margin: 0.5em;
        height: 1.7em;
        width: 1.7em;
        border-radius: 50%;
        background-color: #DEDEDEDE;
    }

    .ghosting{
        h1{
            width: 75%;
            height: 1.2em;
            background-color: #DEDEDEDE;
            margin-bottom: 0.5em;
        }
        p{
            width: 100%;
            height: 0.8em;
            background-color: #DEDEDEDE;
            margin-bottom: 0.5em;
        }
    }

    

}
svg{
    fill: rgb(0, 255, 0)!important;
}
