<ion-content class="place-modal">

  <ng-progress></ng-progress>
  <ion-navbar>
    <ion-title>
      <button ion-button clear icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div class="images-slider">
    <ion-slides *ngIf="info" pager="true">
      <ion-slide *ngFor="let image of info.images">
        <img class="ion-slide-img" [src]="image.url" />
      </ion-slide>
    </ion-slides>
    <img *ngIf="!info" class="ghosting-slide" src="./assets/imgs/image-ghost.svg" />
  </div>

  <div class="segment-card">

    <ion-segment [(ngModel)]="section" color="dark">
      <ion-segment-button value="description">
        <ion-icon name="document"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="information">
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="location">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="extras">
        <ion-icon name="checkbox"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="prices">
        <ion-icon name="cash"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <ion-card padding *ngIf="section === 'description'" class="card-description">
      <div *ngIf="info">
        <h1>{{ info.name }}</h1>
        <p>{{ info.description }}</p>
      </div>
      <div *ngIf="!info" class="ghosting">
          <h1></h1>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      </div>
    </ion-card>
    

    <ion-card *ngIf="section === 'information'" class="card-information">
      <ion-grid *ngIf="info">
        <ion-row>
          <ion-col col-3 text-center>
            <img src="{{ 'assets/icon/type/'+info.type.tid+'.svg' }}" />
          </ion-col>
          <ion-col col-3 text-center>
            <img src="assets/icon/capacity.svg" />
          </ion-col>
          <ion-col col-3 text-center>
            <img src="{{ 'assets/icon/ownership/'+info.ownership.tid+'.svg' }}" />
          </ion-col>
          <ion-col col-3 text-center>
            <img src="{{ 'assets/icon/environment/'+info.environment.tid+'.svg' }}" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 text-center>
            <h2>{{ info.type.name }}</h2>
          </ion-col>
          <ion-col col-3 text-center>
            <h2 *ngIf="info.capacity">{{ info.capacity }} {{ 'Page.Place.people' | translate }}.</h2>
            <h2 *ngIf="!info.capacity">{{ 'Page.Place.unknown_capacity' | translate }}</h2>
          </ion-col>
          <ion-col col-3 text-center>
            <h2>{{ info.ownership.name }}</h2>
          </ion-col>
          <ion-col col-3 text-center>
            <h2>{{ info.environment.name }}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="!info" class="ghosting">
          <h1></h1>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      </div>
    </ion-card>

    <ion-card padding *ngIf="section === 'location'" class="card-location">
      <div *ngIf="info">
        <h1>{{ address.description }}.</h1>
        <h2>{{ address.city }},</h2>
        <h2>{{ address.province }},</h2>
        <h3>{{ address.community }}, {{ address.country }}</h3>
        <button ion-fab (click)="calculateRoute()">
          <ion-icon name="navigate"></ion-icon>
        </button>
      </div>
      <div *ngIf="!info" class="ghosting">
          <h1></h1>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      </div>
    </ion-card>

    <ion-card no-padding *ngIf="section === 'extras'" class="card-extras">
      <ion-grid *ngIf="info">
        <ion-row no-padding>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.cafe' | translate }}</h3>
            <ion-icon name="cafe"></ion-icon>
          </ion-col>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.restaurant' | translate }}</h3>
            <ion-icon name="restaurant"></ion-icon>
          </ion-col>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.potable_water' | translate }}</h3>
            <ion-icon name="water"></ion-icon>
          </ion-col>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.allow_pets' | translate }}</h3>
            <ion-icon name="paw"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.surveillance' | translate }}</h3>
            <ion-icon name="eye"></ion-icon>
          </ion-col>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.toilets' | translate }}</h3>
            <ion-icon name="medical"></ion-icon>
          </ion-col>
          <ion-col col-3 text-center>
            <h3>{{ 'Page.Place.wifi' | translate }}</h3>
            <ion-icon name="wifi"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="!info" class="ghosting">
          <h1></h1>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      </div>
    </ion-card>

    <ion-card padding *ngIf="section === 'prices'" class="card-prices">
      <div *ngIf="info">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <h3 text-center>{{ 'Page.Place.adult_rate' | translate }}</h3>
            </ion-col>
            <ion-col col-6>
              <h3 text-center>{{ 'Page.Place.child_rate' | translate }}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <h1 *ngIf="info.child_adults" text-center>{{ info.child_adults }}€</h1>
              <h1 *ngIf="!info.child_adults" text-center>?</h1>
            </ion-col>
            <ion-col col-6>
              <h1 *ngIf="info.child_rates" text-center>{{ info.child_rates }}€</h1>
              <h1 *ngIf="!info.child_rates" text-center>?</h1>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="!info" class="ghosting">
          <h1></h1>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p>
      </div>
    </ion-card>
  </div>

  <div class="section-comments">
    <div *ngIf="comments">
      <div *ngIf="comments.length > 0">
        <ion-slides loop="true" autoplay="1500" speed="500">
          <ion-slide *ngFor="let comment of comments">
            <ion-card>
              <ion-item>
                <h2>{{ comment.author.name }}</h2>
              </ion-item>
              <ion-card-content>
                <p>{{ comment.description }}</p>
              </ion-card-content>
              <ion-row>
                <ion-col col-9>
                  <rating [(ngModel)]="comment.evaluation" readOnly="true" max="5"></rating>
                </ion-col>
                <ion-col col-3 center text-center>
                  <ion-note>{{ comment.creation }}</ion-note>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="comments.length == 0">
        <ion-slides>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <p>{{ 'Page.Place.no_comments' | translate }}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
</ion-content>