<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Page.Stng.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      {{ 'Page.Stng.header_1' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Page.Stng.language' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Page.Stng.theme' | translate }}</ion-label>
      <ion-toggle color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <ion-list-header>
      {{ 'Page.Stng.header_2' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/default_avatar.svg"/>
      </ion-avatar>
      <ion-label>{{ 'SideMenu.Header.logout_msg' | translate }}</ion-label>
      <button ion-button clear large icon-only item-end>
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
