page-map {
    .map-container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }
    .me-icon img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite; 
    }
    @-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.8, 0.8)}
        50% {-webkit-transform: scale(1, 1)}
        100% {-webkit-transform: scale(0.8, 0.8)}
    }
    .top-row .button{ 
        z-index: 999;
    }
    .top-row{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .label{
        margin-bottom: 0;
    }

    .info-show{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 999;
        margin: 0;
    }
    .info-hide{
        position: absolute;
        bottom: 0;
        height: 0;
        width: 100%;
        z-index: 999;
        margin: 0;
    }
    .close-infopanel{
        position: absolute;
        top: 1em;
        right: 1em;
        height: 20px;
        width: 20px;
        z-index: 999;
    }
    .info-show .item{
        background-color: transparent;
    }
    .info-show .card .item h1{
        padding-bottom: 0.5em;
    }
}
.map-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.leaflet-control-attribution{
    display: none;
}