<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Page.Maps.title' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="locate()">
        <ion-icon name="locate"></ion-icon>
      </button>
      <button ion-button icon-only (click)="changeSvgTile()">
        <ion-icon name="map"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="!placetypes.length" (click)="presentMapMenu($event)">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ng-progress></ng-progress>
</ion-header>


<ion-content>
  <ion-row center class="top-row">
    <ion-col text-center>
      <button ion-button round strong (click)="findPlaces()">{{ 'Page.Maps.search' | translate }}</button>
    </ion-col>
  </ion-row>

  <div class="map-container">
    <div id="mapId" style="width: 100%; height: 100%"></div>
  </div>

  <ion-list *ngIf="selectedPlace" [ngClass]="(selectedPlace)?'info-show':'info-hide'" [@animInfoPanel]>
    <ion-card (click)="goToPlace()">
      <button ion-button icon-only clear small class="close-infopanel" (click)="closeInfoPanel()">
        <ion-icon name="close"></ion-icon>
      </button>
      <ion-item>
        <h1 text-wrap>{{ selectedPlace.name }}</h1>
      </ion-item>
      <ion-row>
        <ion-col col-9 text-center>
          <rating [(ngModel)]="selectedPlace.evaluation" readOnly="true" max="5"></rating>
        </ion-col>
        <ion-col col-3 text-center>
          <ion-chip>
            <ion-icon name="text"></ion-icon>
            <ion-label>{{ selectedPlace.comments }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>