.dark {
 
    $content: #505050;
    $primary: #212121;
    $dark-primary: #000000;
    $light-primary: #484848;
    $text-icons: #FFFFFF;
    $accent: #E53935;
    $primary-text: #FAFAFA;
    $secondary-text: #B1B1B1;
    $divider: #BDBDBD;
  
    //////////////////////////////
    .toolbar-background{
      background-color: $primary; 
      transition: all 0.5s ease; 
    }
    .bar-button-default{
      color: $primary-text;
      transition: all 0.5s ease;
    }
    .toolbar-title{
      color: $primary-text;
      transition: all 0.5s ease;
    }
    //////////////////////////////
    .header-sidemenu{
      background-color: $accent; 
      transition: all 0.5s ease;
      height: 20%;
    }
    .header-sidemenu ion-item{
      height: 100%;
      background-color: transparent;
    }
    .header-sidemenu ion-item div{
      border: none!important;
    }
    .header-sidemenu ion-item img{
      width: 60px;
      height: 60px;
      border-radius: 20%;
    }
    .header-sidemenu ion-item ion-spinner{
      width: 30px;
      height: 30px;
      stroke: $text-icons;
      fill: $text-icons;
      transition: all 0.5s ease;
    }
    .header-sidemenu ion-item p{
      color: $text-icons;
      transition: all 0.5s ease;
    }
    .header-sidemenu ion-item button{
      color: $text-icons;
      transition: all 0.5s ease;
    }
    //////////////////////////////
    .menu-inner{
      background-color: transparent;
    }
    .content-sidemenu{
      background-color: $primary; 
      transition: all 0.5s ease;
    }
    .item-sidemenu{
      background-color: transparent;
      color: $primary-text;
      border: none!important;
      transition: all 0.5s ease;
    }
    .item-sidemenu .item-inner{
      border: none!important;
      transition: all 0.5s ease;
    }
    /////////////////////////////
    .header-popover ion-item{
      background-color: transparent;
      transition: all 0.5s ease;
    }
    /////////////////////////////
    .login-button{
      background: $accent;
      color: $primary;
    }
    .guest-button{
      color: $accent;
      border: 1px solid $accent;
    }
    .strike>span:before, .strike>span:after { 
      background: $accent; 
    }
    .divider-span{
      color: $accent;
    }
    .footer-span{
      color: $text-icons;
    }
    ///////////////////////////
    .sign-button{
      background: $accent;
      color: $primary;
    }
    //////////////////////////
    .list-header{
      background: $dark-primary;
      color: $primary;
    }
    /////////////////////////
    .popover-menu .item{
      background-color: $primary; 
      transition: all 0.5s ease; 
    }
  }