.light {
  
    $content: #FFFFFF;
    $primary: #FAFAFA;
    $dark-primary: #C7C7C7;
    $light-primary: #FFFFFF;
    $text-icons: #000000;
    $accent: #3599E5;
    $primary-text: #212121;
    $secondary-text: #757575;
    $divider: #BDBDBD;

    //////////////////////////////
    .toolbar-background{
      background-color: $primary; 
      transition: all 0.5s ease; 
    }
    .bar-button-default{
      color: $primary-text;
      transition: all 0.5s ease;
    }
    .toolbar-title{
      color: $primary-text;
      transition: all 0.5s ease;
    }
    //////////////////////////////
    .header-sidemenu{
      background-color: $accent; 
      transition: all 0.5s ease;
      height: 20%;
    }
    .header-sidemenu ion-item{
      height: 100%;
      background-color: transparent;
    }
    .header-sidemenu ion-item div{
      border: none!important;
    }
    .header-sidemenu ion-item img{
      width: 60px;
      height: 60px;
      border-radius: 20%;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow:  0px 0px 30px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
    }
    .header-sidemenu ion-item ion-spinner{
      width: 30px;
      height: 30px;
      stroke: $text-icons;
      fill: $text-icons;
      transition: all 0.5s ease;
    }
    .header-sidemenu ion-item p{
      color: $text-icons;
      transition: all 0.5s ease;
    }
    .header-sidemenu ion-item button{
      color: $text-icons;
      transition: all 0.5s ease;
    }
    //////////////////////////////
    .menu-inner{
      background-color: transparent;
    }
    .content-sidemenu{
      background-color: $primary; 
      transition: all 0.5s ease;
    }
    .item-sidemenu{
      background-color: transparent;
      color: $primary-text;
      border: none!important;
      transition: all 0.5s ease;
    }
    .item-sidemenu .item-inner{
      border: none!important;
      transition: all 0.5s ease;
    }
    /////////////////////////////
    .header-popover ion-item{
      background-color: transparent;
      transition: all 0.5s ease;
    }
    /////////////////////////////
    .login-button{
      background: $accent;
      color: $primary;
    }
    .guest-button{
      color: $accent;
      border: 1px solid $accent;
    }
    .strike>span:before, .strike>span:after { 
      background: $accent; 
    }
    .divider-span{
      color: $accent;
    }
    .footer-span{
      color: $text-icons;
    }
    ///////////////////////////
    .sign-button{
      background: $accent;
      color: $primary;
    }
    //////////////////////////
    .list-header{
      background: $dark-primary;
      color: $primary;
    }
    /////////////////////////
    .popover-menu{
      background-color: $primary; 
      transition: all 0.5s ease; 
    }
    .popover-menu .item{
      background-color: transparent; 
      color: $primary-text;
      transition: all 0.5s ease; 
    }
    /////////////////////////
    .info-show .card .item{
      background-color: $primary;
    }
    .info-show .card .button{
      color: $text-icons;
    }
    .info-show h1{
      color: $text-icons;
    }
    .info-show .card .row{
      color: $text-icons;
      background-color: $accent;
    }
    .info-show .card .row p{
      color: $accent;
    }
    .info-show .card .row .icon{
      color: $light-primary;
    }
    .info-show .card .row .chip{
      background-color: transparent;
    }
    .info-show .card .row .chip .icon{
      background-color: transparent;
      text-shadow: 1px 1px 2px black; 
    }
    .info-show .card .row .chip .label{
      color: $light-primary;
      text-shadow: 1px 1px 2px black; 
    }
    .ng-progress .spinner{
      display: none;
    }
    .top-row .button{ 
      background-color: rgba($text-icons, 0.7);
      color: $light-primary;
    }
    ///////////////////////////

  }