@import '../theme/light';
@import '../theme/dark';

//.leaflet-control-container{ display: none; }
ion-modal.inset-modal-login {
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20px;
}
ion-modal.inset-modal-signup {
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20px;
}
ion-modal.inset-modal-map-route {
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-right: 20px;
    padding-left: 20px;
}