<div [ngClass]="global.state['theme']">
  <ion-menu [content]="content">
    <ion-header class="header-sidemenu">
      <ion-item *ngIf="user == null">
        <ion-avatar item-start>
          <img src="assets/imgs/default_avatar.svg"/>
        </ion-avatar>
        <h2 text-wrap>{{ 'SideMenu.Header.logout_msg' | translate }}</h2>
        <button ion-button clear large icon-only item-end (click)="login()">
          <ion-icon *ngIf="!isLogin" name="log-in"></ion-icon>
          <ion-spinner *ngIf="isLogin"></ion-spinner>
        </button>
      </ion-item>
      <ion-item *ngIf="user != null">
        <ion-avatar item-start>
          <img *ngIf="user.avatar != null" [src]=" user.avatar "/>
          <ion-spinner *ngIf="user.avatar == null"></ion-spinner>
        </ion-avatar>
        <p text-wrap>{{user.username}}</p>
        <p text-wrap>{{user.mail}}</p>
        <button ion-button clear large icon-only item-end (click)="logout()">
          <ion-icon *ngIf="!isLogout" name="log-out"></ion-icon>
          <ion-spinner *ngIf="isLogout"></ion-spinner>
        </button>
      </ion-item>
    </ion-header>

    <ion-content class="content-sidemenu">
      <ion-list>
        <ion-item menuClose class="item-sidemenu" *ngFor="let p of pages" (tap)="openPage(p)">
          <ion-icon name={{p.icon}} item-start></ion-icon>
          {{ p.title | translate }}
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>