<div [ngClass]="global.state['theme']">
<ion-list class="popover-menu">
    <ion-item *ngFor="let type of placetypes">
        <ion-label>{{ type.name }}</ion-label>
        <ion-toggle color="secondary" [(ngModel)]="type.show" (ionChange)="valueChange()"></ion-toggle>
    </ion-item>
</ion-list>
</div>