page-signup {
    .custom-icon{
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding-top: 10px;
    }
    .background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        text-align: center;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    .scroll-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    ion-item {
        border-radius: 3px;
        padding-left: 10px;
        margin-bottom: 15px;
        font-size: 1.2em;
    }
    .item-inner {
        border-bottom: 0;
        box-shadow: none;
    }
    .register-button {
        text-transform: none;
        border-radius: 3px;
    }
}
