<div [ngClass]="global.state['theme']">

<ion-header class="header-popover">
  <ion-item>
    <button ion-button icon-only clear item-start (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
    <ion-title text-center>{{ 'Page.Sign.title' | translate }}</ion-title>
  </ion-item>
  <ng-progress></ng-progress>
</ion-header>

<ion-content padding class="background">
  <form padding [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <ion-item>
      <ion-input formControlName="name" type="text" placeholder="{{ 'Page.Sign.user' | translate }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="mail" type="email" placeholder="{{ 'Page.Sign.email' | translate }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="pass" type="password" placeholder="{{ 'Page.Sign.password' | translate }}"></ion-input>
    </ion-item>
    <button ion-button block clear class="sign-button" type="submit" [disabled]="!signupForm.valid">{{ "Page.Sign.register" | translate }}</button>
  </form>
</ion-content>

</div>